@import "variables";

//Header styling
header {
  display: flex;
  flex-flow: column nowrap;

  .cover {
    width: 100vw;
    height: auto;
    padding: 4.4rem;

    background: url('../images/cover-bg.jpg');
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .logo {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 8.2rem;
      height: 8.2rem;

      z-index: 1;
    }

    &.publication {
      height: 80vh;

      background-image: url('../images/post-bg.png');
    }
  }

  .head {
    text-align: center;

    h1.title {
      margin-top: 2.4rem;
      color: white;
      text-transform: uppercase;
    }

    p.intro {
    max-width: 62rem;
    position: relative;
    margin: 0 auto;
    color: white;
      margin-top: 0.6rem;
    }
  }
}
