body {
  display: block;
  position: relative;
  padding-top: 15px;

  background-color: #3d7992;
  color: #fff;

  /*background-image: url('../images/pattern-white.png');*/
  background-size: 345px;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;

  min-height: 100vh;
  height: auto;
}

/*Connecting Raleway FONT*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');

div {
  display: block;
  box-sizing: border-box;
  position: relative;
}

* {
  letter-spacing: 0.02em;
  transition: all 0.2s ease;
}

h1 {font-size: 3.6rem !important;}
h2 {font-size: 3.0rem !important;}
h3 {font-size: 2.4rem !important;}
h4 {font-size: 2.0rem !important;}
h5 {font-size: 1.8rem !important;}
h6 {font-size: 1.6rem !important;}

a {
  text-decoration: none !important;
}

.container {
  margin-top: 15px;
}

span.text-blue {
  color: #3d7992;
}

/*TOPBAR*/
.topbar {
  height: 40px;
  margin-top: 0;
}

.logo {
  float: left;
  clear: none;

  width: 40px;
  height: 40px;
  border-radius: 20px;

  background-color: white;
}

.title {
  display: inline-block;

  font-weight: 600;

  margin: 0 2rem;
  line-height: 40px;
}

.title-description {
  margin-left: 2rem;

  font-size: 2.4rem;
  font-weight: 400;
}
.topbar a, .topbar a:visited, .topbar a:hover, .topbar a:active{
  color: white;
}

/*SEARCH*/
.search {
  position: relative;
  float: right;
  clear: none;
  height: 40px;

  margin: 0;
}

.search input {
  width: 360px;
  height: 40px;

  margin: 0;

  background-color: #fff;

  border: none;
  border-radius: 0;

  font-size: 1.6rem;
  font-weight: 400;
  color: #3d7992;
}

.search button {
  width: 40px;
  height: 40px;

  margin: 0;
  padding: 0;

  background-color: #fff;
  border: none;
  border-radius: 0;
}

.search button img {
  width: 24px;
  height: auto;
  margin: 8px;

  transition: all 0.2s ease;
}

.search button:hover {
  background-color: #efefef;
}

/*MENU*/
.menu-title {
  color: #3d7992;
  font-weight: 400;

  margin: 30px auto;
}

.menu {
  display: block;
  position: relative;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.menu-block-type1{
  padding-right: 0;
}

.menu-block-type2{
  padding-left: 0;
}

.menu-item {
  background-color: #edf3f5;
}

.menu-item:nth-child(4n), .menu-item:nth-child(4n+1) {
  background-color: #d6e8ef;
}

.menu-item-icon {
  display: block;
}

.menu-item-icon img{
  width: 100%;
}

.menu-item h4 {
  margin-bottom: 2.6rem;
}

/*FEATURED*/
.featured {
  display: block;
  position: relative;

  background-image: url('images/featured.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*NEWS*/
.posts {
  padding:0;
}
.post-item {
  display: block;
  margin-bottom: 15px;

  background-color: #fff;
}
.post-item-image {
  width: 100%;
  height: auto;
}
.post-item-label {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 18px;
  border-radius: 9px;

  background-color: #fff;
}
.post-item-content {
  height: 120px;
  padding: 15px;
}
.post-item-content h4 {
  color: #3d7992;
  line-height: 24px;

  margin: 0 0 15px 0;
}
.post-item-content h6 {
  color: #9b9b9b;
  line-height: 24px;

  margin: 0;
}

.size-post-thumbnail{
  width: 100%;
}

/*MORE-BUTTON*/
.more {
  display: block;
  position: relative;

  margin: 30px auto 45px;
  padding: 0 40px;

  background-color: white;
  border: none;

  color: #3d7992;
  text-align: center;
  font-size: 1.6rem;
  line-height: 40px;
}

/*FOOTER*/
footer {
  background-color: #072c3c;
  color: white;
}
footer .container {
  padding: 15px 0 30px;
}
footer h3, footer h5 {
  font-weight: 400;
}
.copyright {
  background-color: rgba(0, 0, 0, 0.25);
}
.copyright h6 {
  color: rgba(255, 255, 255, 0.5);
  line-height: 40px;
  font-weight: 400;
}

footer a, footer a:hover, footer a:visited, footer a:active{
  color: white;
}

/*PAGE*/
.content {
  background-color: white;
  box-shadow: 0 0 15px #333333;
}
.content-header {
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 40px;
}
.content-date {
  text-align: right;
  padding-right: 20px;
}
.content-text {
  padding: 15px;
}

/* SEARCH RESULTS*/
.search-item{
  
}
